* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   letter-spacing: 1px;
   text-transform: capitalize;
}

body {
   background-color: #1f1f1f;
}

/* Main div */
.container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.container h1 {
   font-size: 3rem;
   margin: 12px;
   color: lightgrey;
}

/* Players div */
.player-names-div {
   display: flex;
   min-height: 50vh;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   margin: 20px;
}

.player-names-div label {
   color: lightgrey;
   margin: 5px;
   font-size: 1.5rem;
}

.player-names-div input[type="text"] {
   margin: 5px;
   font-size: 1.5rem;
   padding: 4px;
   outline: none;
   font-weight: normal;
}

.player-names-div input[type="submit"] {
   margin: 20px 10px;
   border: none;
   padding: 10px;
   font-size: 1.2rem;
   color: lightblue;
   border-radius: 10px;
   background-color: black;
   box-shadow: 0 2px 2px rgb(57,255,20), 0 2px 2px rgb(57,255,20);
   transition: 0.3s all ease-in;
}

.player-names-div input[type="submit"]:hover {
   box-shadow: 0 2px 2px cyan, 0 2px 2px cyan;
} 

/* Game starts here */
.game-div {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.score-div {
   text-align: center;
   color: lightgrey;
}

.players {
   text-align: center;
   font-size: 1.2rem;
   font-weight: bold;
}

table {
   width: 180px;
   margin: auto;
}

.score-div .scores {
   margin: 8px;
}

.players .user-score-1, .user-score-2 {
   font-size: 1.4rem;
   padding: 8px;
}

.players .user-score-1 {
   color: #ff0000;
}

.players .user-score-2 {
   color: #00ff00;
}

/* Blocks */
.box-container {
   display: flex;
   flex-wrap: wrap;
   height: 300px;
   width: 300px;
   margin: 30px;
}

.box {
   width: 100px;
   height: 100px;
   border: 5px outset lightgrey;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
}

.box-1, .box-2, .box-3 {
   border-top: none;
}

.box-3, .box-6, .box-9 {
   border-right: none;
}

.box-7, .box-8, .box-9 {
   border-bottom: none;
}

.box-1, .box-4, .box-7 {
   border-left: none;
}

.winner-div {
   margin-top: 10px;
   font-size: 1.4rem;
   color: lightsalmon;
   transition: 0.3 color ease-in;
   text-align: center;
}

/* buttons */
.buttons {
   margin: 5px;
   display: flex;
   justify-content: center;
}

.btn {
   margin: 8px;
   padding: 10px 18px;
   background-color: rgba(0,0,0,0.9);
   color: white;
   font-size: 1.2rem;
   letter-spacing: 3px;
   border: none;
   border-radius: 10px;
   box-shadow: 0 2px 2px rgb(57,255,20), 0 2px 2px rgb(57,255,20);
   transition: 0.3s box-shadow ease-in;
}

.btn:hover {
   box-shadow: 0 2px 2px cyan, 0 2px 2px cyan;
}

/* Media query for phones */
@media screen and (max-width: 500px) {
   .box-container {
      margin: 15px;
   }

   .container h1 {
      font-size: 2rem;
   }

   .box {
      font-size: 30px;
   }

   .player-names-div input[type="text"],.player-names-div label {
      font-size: 1.1rem;
      width: 65%;
      padding: 4px;
   }

   .player-names-div input[type="submit"] {
      font-size: 0.95rem;
      padding: 7px;
      margin: 20px 2px;
   }

   .btn {
      margin: 5px;
      padding: 8px 14px;
      letter-spacing: 1px;
      font-size: 1.1rem;
   }

   .winner-div {
      font-size: 1.2rem;
      margin-top: 5px;
   }
}